name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  schedule: 
    - cron: '*/10 * * * *' #every 10 minutes
jobs:
  ping:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.100
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Run
      with: 
        status: ${{job.status}}
        notify_when: 'failure'
      env:
        host: ${{secrets.HOST}}
      run: dotnet Ping/bin/Release/net5.0/Ping.dll --host ${host}
